$max-width: 1100px;
$primary-color: black;
$secondary-color: rgba(0, 0, 0, 0.7);
$bg-color: white;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// dark mode
// $primary-color: white;
// $bg-color: black;
